@import url(../header/header.css);
@import url(../main/main.css);
@import url(../foter/footer.css);
@import url(../mainmid/mainmid.css);
@import url(../maintexxt/main-text.css);
@import url(../mainend/mainend.css);
@import url(../mains/main-ends.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}