main{
    background: #1F2E35;

    .main-text{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        padding-top: 2%;
        color: aliceblue;
    }
    .main-h2{
        font-size: 24px;
        max-width: 98px;
    }
    h1{
        max-width: 721px;
        font-size: 40px;
    }
    p{
        max-width: 536px;
    }
    .main-box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        padding-bottom: 70px;
        .main-boxes{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            max-width: 322px;
            max-height: 456px;
            background-color: aliceblue;
            border: 1px solid;
            padding: 40px;
            margin-top: 4%;
            border-radius: 5px;
            .main-desc{
                display: flex;
                align-items: center;
                .main-descp{
                    font-size: 50px;
                    color: #02897A;
                    font-family: sans-serif;

                }
            }
            span{
                color: #02897A;
                font-family: sans-serif;
            }
            .mains-btn{
                padding: 5px 18px;
                border-radius: 5px;
                border: none;
                background: #02897A;

            }
        }
        .main-boxees{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            max-width: 322px;
            max-height: 456px;
            background: #02897A;
            border: 1px solid;
            padding: 40px;
            margin-top: 4%;
            border-radius: 5px;
            color: aliceblue;
            .main-descs{
                display: flex;
                align-items: center;
                .main-descp{
                    font-family: sans-serif;
                    font-size: 50px;
                }
            }
            .mains-btns{
                padding: 5px 18px;
                border-radius: 5px;
                border: none;
                background: white;
            }
        }
    }

 
}

@media (max-width:631px) {
    .main-text{
        text-align: center;
    }
}