footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .foter{
        display: flex;
        padding-top: 3%;
        gap: 50px;
        flex-wrap: wrap;
        .foter-img{
            display: flex;
            gap: 20px;
            flex-direction: column;
        }
        .foter-texts{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .foter-icon{
            display: flex;
            gap: 10px;
        }
        .foter-text{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .foter-btn{
            display: flex;
            gap: 10px;
            flex-direction: column;
            p{
                max-width: 280px;
            }
           form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            input{
                padding: 8px;
                border-radius: 5px;
                border: none;
            }
            button{
                width: 40%;
                padding: 8px;
                background: #02897A;
                color: aliceblue;
                font-family: sans-serif;

            }
           }
        }
    }
}
@media (max-width:822px) {
    footer{
        .foter{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
}